{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Landing Page -->
<div class="container-fluid bg-darkblue pt-5">
    <div class="container-fluid pt-5">
        <div class="row bg-darkblue pt-5 pb-5">
            <div class="col-12 col-md-6 pl-5 pt-5">
                <h1 class="display-4 logo-font text-white rubik">
                    The new<br> healthy snacks <br> have arrived!
                </h1>
                <div class="my-2">
                    <h4>
                        <a href="#" class="shop-now-button btn py-3 rubik">
                            SHOP NOW !
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-12 col-md-6 hero-img">
            </div>
        </div>
    </div>
</div>


<!-- Reviews -->
<div class="container-fluid bg-navyblue pt-5 pb-5">
    <h1 class="text-center text-white rubik"> Reviews </h1>
    <div class="card-deck">
        <div class="card bg-danger">
            <div class="card-body">
                <h3 class="card-title nanumpen"><strong>Raspberry Fusion Bar Review</strong></h3>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <p class="card-text nanumpen">Absolute favourite in the office, the Raspberry Fusion Bar from PYMA is a taste sensation! The blend of luscious raspberries with high-quality
                dark chocolate creates a symphony of flavors. It's not just a snack. It's a delightful experience. PYMA has truly
                redefined the art of healthy indulgence.</p>
            </div>
            <div class="card-footer">
                <small class="text-black nanumpen"><strong>- GTA ltd, Cardiff, Wales</strong></small>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body">
                <h3 class="card-title nanumpen"> <strong>Plantain Crisps Review</strong></h3>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <p class="card-text nanumpen">These Crunchy Plantain Crisps redefine snack time! The combination of fresh plantain and himalayan salt creates a satisfying crunch, and
                the seasoning is both flavorful and balanced. What I love most is that they aren't overly oily like traditional chips. A
                delicious and guilt-free option for a savory snack.</p>
            </div>
            <div class="card-footer">
                <small class="text-black nanumpen"><strong>- Xeony ltd, Bristol, UK</strong></small>
            </div>
        </div>
        <div class="card bg-info">
            <div class="card-body">
                <h3 class="card-title nanumpen"> <strong>Orange Drink Review</strong></h3>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star"></i>
                <p class="card-text nanumpen">PYMA's Orange Splash Drink is a refreshing revelation! The blend of orange flavours is invigorating, and the hint
                of natural sweetness makes it a perfect thirst-quencher. What sets it apart is the commitment to health without
                sacrificing on taste. PYMA has crafted a beverage that's as good for your taste buds as it is for your well-being.</p>
            </div>
            <div class="card-footer">
                <small class="text-black nanumpen"><strong>- F.H.L Healthcare, London,UK</strong></small>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="container-fluid bg-navyblue pt-4">
    <div class="container pb-3">
        <h1 class="text-center text-white rubik">Frequently Asked Questions</h1>
        <div class="accordion" id="accordionExample">
            <div class="card bg-primary">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-white nanumpen" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. Are your chocolates made with natural ingredients?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body text-white nanumpen">
                        Our chocolates are free from artificial preservatives, colors, and flavors. Indulge guilt-free in the goodness of pure and
                        natural ingredients.
                    </div>
                </div>
            </div>
            <div class="card bg-primary">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed text-white nanumpen" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. What makes your soft drinks healthier than traditional sodas?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body text-white nanumpen">
                        Our soft drinks are crafted with a focus on health and wellness. We use natural sweeteners, and many of our drinks are
                        low in added sugars. Additionally, you'll find no artificial additives or high-fructose corn syrup. Sip on refreshment
                        without compromising on your health goals.
                    </div>
                </div>
            </div>
            <div class="card bg-primary">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed text-white nanumpen" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Do your crisps contain any gluten or allergens?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body text-white nanumpen">
                        We understand the importance of catering to various dietary needs. Our crisps are gluten-free, and we offer options that
                        cater to specific allergens. Each product is clearly labeled, and we take great care to ensure that our snacks can be
                        enjoyed by individuals with diverse dietary requirements.
                    </div>
                </div>
            </div>
            <div class="card bg-primary">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed text-white nanumpen" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            4. How do you contribute to sustainability in your packaging?
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body text-white nanumpen">
                        Sustainability is a core value for us. We use eco-friendly packaging materials that are recyclable and, in some cases,
                        biodegradable. Our commitment to the environment extends beyond our snacks to the very packaging they come in. Join us
                        in our journey toward a greener, healthier planet.
                    </div>
                </div>
            </div>
            <div class="card bg-primary">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed text-white nanumpen" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            5. How do you ensure the healthiness of your soda drinks?
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body text-white nanumpen">
                        Our soda drinks are sweetened with natural sugars and free from high-fructose corn syrup. We prioritize natural flavors,
                        and our drinks are available in low or no-sugar options. We believe in providing refreshing beverages without
                        compromising on health.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}