{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid bg-navyblue pt-5 pb-5 my-0"></div>


<!-- Subscription tiers-->

<div class="bg-navyblue pt-5 pb-3">
    <h1 class="text-center text-white rubik pt-3">Corporate Package</h1>
</div>

<div class="container-fluid bg-navyblue pt-3">
    <div class="container">
        <div class="card-deck pb-5 text-center">
            <div class="card mb-4 shadow-sm bg-darkblue text-white nanumpen">
                <div class="card-header bg-darkblue">
                    <h4 class="my-0 bg-darkblue">What we offer your company is:</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-primary">
                        <li><strong class="text-white">-</strong> Weekly snack boxes</li>
                        <li><strong class="text-white">-</strong> Staff discounts</li>
                        <li><strong class="text-white">-</strong> Phone and email support</li>
                        <li><strong class="text-white">-</strong> Help center access</li>
                    </ul>
                </div>
                <div class="card-header bg-darkblue">
                    <h4 class="my-0 bg-darkblue">Contact us by phone or fill the form:</h4>
                </div>
                <ul class="list-unstyled mt-3 mb-4 text-primary">
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone: </span>
                    <p>1234567890</p>
                </ul>
            </div>
            <div class="card mb-4 shadow-sm bg-darkblue text-white nanumpen">
                <div class="card-header bg-darkblue">
                    <h4 class="my-0 bg-darkblue">What we offer your company is:</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-primary">
                        <li>Weekly snack boxes</li>
                        <li>Staff discounts</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary nanumpen">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}