{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid bg-navyblue pt-5 pb-5 my-0"></div>


<!-- Subscription tiers-->

<div class="bg-navyblue pt-5 pb-3">
    <h1 class="text-center text-white rubik pt-3">Subscription Tiers</h1>
</div>

<div class="container-fluid bg-navyblue pt-3">
    <div class="container">
        <div class="card-deck pb-5 text-center">
            <div class="card mb-4 shadow-sm bg-darkblue text-white nanumpen">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Fan Pack</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><strong>£7.99</strong><small class="text-muted">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-muted">
                        <li>Up to 20% discount</li>
                        <li>1 box/month free</li>
                        <li>Surprise merch</li>
                        <li>Email support</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary nanumpen">Fan Pack</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm bg-darkblue text-white nanumpen">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal nanumpen">S.M.E.</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><strong>£20.99</strong><small class="text-muted">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-muted">
                        <li>Up to 10 Pyma boxes</li>
                        <li>Staff discounts</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary nanumpen">Get started</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm bg-darkblue text-white nanumpen">
                <div class="card-header bg-darkblue">
                    <h4 class="my-0 bg-darkblue">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><strong>£79.99</strong><small class="text-muted">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-muted">
                        <li>Up to 30 boxes</li>
                        <li>Staff discounts</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary nanumpen">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}