<div class="collapse navbar-collapse transparent" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto transparent">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">ChocoBars</a>
                <a href="" class="dropdown-item ">Snacks</a>
                <a href="" class="dropdown-item ">Drinks</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black mr-5" href="#" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                Product Details
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black mr-5" href="#" id="homeware-link"
                aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black" href="#" id="specials-link"
                aria-haspopup="true" aria-expanded="false">
                Subscriptions
            </a>
        </li>
        
    </ul>
</div>