{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container bg-navyblue pt-5 pb-5"></div>

<!-- About us -->
<div class="bg-navyblue pt-5 pb-5">
    <h1 class="text-center text-white rubik">About us</h1>
</div>

<div class="container-fluid bg-navyblue">
    <div class="container-fluid pt-5">
        <div class="row bg-navyblue pl-3">
            <div class="col-12 col-md-6 pl-3 pr-3 card bg-darkblue">
                <p class=" pt-3 text-center text-white nanumpen">
                Welcome to Pyma Snacks, where taste meets health in a delightful fusion! We are more than just a snack company.
                We are your partners in the journey towards a healthier and more flavorful life.
                Pyma Snacks started with a simple yet powerful idea: to redefine the way you snack. We believe that indulging in your
                favorite treats shouldn't come at the cost of your well-being. Hence, Pyma was born, a brand that crafts delicious
                snacks with a focus on quality, health, and taste.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="container">
                    <img src="{{ MEDIA_URL }}media/aboutusimage.png" alt="blue and white abstract lines">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Values -->
<div class="bg-navyblue pt-5 pb-5">
    <h1 class="text-center text-white rubik">Our Values</h1>
</div>
<div class="container-fluid bg-navyblue pt-3">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card bg-darkblue">
                    <div class="card-body bg-darkblue">
                        <h5 class="card-title text-center text-white nanumpen">
                            <i class="fa-brands fa-pagelines"></i> Sustainability
                        </h5>
                        <p class="card-text text-center text-white nanumpen">We care for the planet as much as we care for your well-being, we are committed to sustainable practices, from
                        eco-friendly packaging to responsible sourcing. Enjoy our treats with the knowledge that you are contributing to a
                        healthier world.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-darkblue">
                    <div class="card-body bg-darkblue">
                        <h5 class="card-title text-center text-white nanumpen">
                            <i class="fa-solid fa-heart"></i> Health
                        </h5>
                        <p class="card-text text-center text-white nanumpen">At Pyma Snacks, we believe that life is too short to compromise on taste. Indulge in the goodness of our snacks,
                        guilt-free, and savor the moments that make life delicious. We make sure your break snacks are healthy and delicious.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-darkblue">
                    <div class="card-body bg-darkblue">
                        <h5 class="card-title text-center text-white nanumpen">
                            <i class="fa-solid fa-check"></i> Quality Assurance
                        </h5>
                        <p class="card-text text-center text-white nanumpen">At Pyma Snacks, quality is non-negotiable. From sourcing the best raw materials to crafting each product with precision,
                        we ensure that every bite and sip meets the highest standards. Our commitment to quality extends to your health, making
                        every Pyma snack a guilt-free pleasure and contributing to a net zero future for food manufacturing.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-darkblue">
                    <div class="card-body bg-darkblue">
                        <h5 class="card-title text-center text-white nanumpen">
                        <i class="fa-solid fa-hand-back-fist"></i> Snacking Revolution
                        </h5>
                        <p class="card-text text-center text-white nanumpen">Pyma Snacks is not just a brand, it's a community of snack enthusiasts who believe in the joy of savoring delightful
                        moments. Join us on our journey to redefine snacking and embark on a flavourful adventure with Pyma while contributing to a sustainable future.
                        Let's indulge in the pleasure of good taste and conscious choices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}